/* Section Title Style */

.main-title {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.main-title h1 {
  font-size: 50px;
  font-weight: bold;
  color: #333;
  line-height: 1;
}

.main-title .underline {
  flex-grow: 1;
  height: 1px;
  background-color: #333;
}



/* Button Style */

.button-main-container {
  border: 1.5px solid rgba(255, 48, 28, 1);
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
  color: rgba(255, 48, 28, 1);
}

.btn-content {
  padding: 0 5px;
}

.button-main-container:hover,
.red-bg-btn {
  background-color: rgba(255, 48, 28, 1);
  color: white;
}

.red-bg-btn:hover,
.white-bg-btn {
  background-color: white;
  color: rgba(255, 48, 28, 1);
}

.arrow {
  padding-left: 5px;
  font-size: 12px;
}


/* Card Style */

.card-main-container {
  overflow: hidden;
  max-width: 300px;
  margin: 20px;
  background-color: white;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  max-height: 3em;
}

.card-date {
  color: #757575;
  margin: 10px 0;
}

.card-description {
  font-size: 16px;
  text-align: left;
  color: #333;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  max-height: 6em;
}

.card-divider {
  border: none;
  border-top: 1px solid black;
  margin: 10px 0;
}


/* Social Band Style */

.social-band-main-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 10px;
}


/* nav-bar styles  */

.navbar-main-container {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  align-items: center;
  gap: 20px;
}

.navbar-main-container a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 18px;
}

/* five-box-grid style */

.five-box-grid-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* hero-section style */

.hero-section-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../assets/images/heroSection/hero-section-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px; */
}

.hero-section-image {
  width: 100%;
  height: auto;
}

.hero-left-section-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/heroSection/main-hero-left.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 440px;
  width: 50%;
}

.hero-right-section-main-container {
  width: 40%;
  color: white;
}

.hero-section-image1 {
  width:max-content ;
  object-fit: cover;

}

.hero-subsection-main-container {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  width: 100%;
}






.content-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
}

.content-image {
  width: 100%;
  height: auto;
}

.content-details {
  padding: 10px;
}

.content-title {
  font-size: 1.2em;
  margin: 0;
}

.content-date {
  color: #888;
  font-size: 0.9em;
}

.content-description {
  margin-top: 10px;
  font-size: 1em;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

