.header-main-container{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.art-gallery-email-conatiner{
    display: flex;
    align-items: center;
    gap: 20px;
}